.logo{
    color:rgb(9, 6, 156);
}

.nav-background{
    background-color: #fff;
}

.backgroundColor{
    background-color: #f6f6f6;
    height: 50px;
    display: flex;
    justify-content: center;

}

.p-center{
    margin-top: 10px;
}
.inputRounded .MuiOutlinedInput-root {
    border-radius: 40px;
    height: 65px;
    background-color: #f6f6f6;
  }
.color-h1{
    color: rgb(99, 207, 246);
}
.grid-left{
    margin-top: 40px;
}
.progressbar{
	position: relative;
	overflow: hidden;
	width: 350px;
	height: 35px;
	border-radius: 5px;
	background-color: #eee;
}

.progressPercent{
	font-weight: 600;
	font-family:'Franklin Gothic Medium';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	color: #eee;
	text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}
